---
import Instagram from "../../components/icons/social/Instagram.astro";
import Whatsapp from "../../components/icons/social/Whatsapp.astro";
---

<header class="emme-common-header initial relative">
  <div
    class="overlay-background bg-accent/20 absolute top-0 left-0 -z-1 size-full"
  >
  </div>
  <div class="items left-items">
    <a class="toggle-menu font-secondary">Menú</a>
  </div>
  <div class="items center-items">
    <a href="/" class="font-secondary">EMME Dental</a>
  </div>
  <div class="items right-items">
    <a
      class="instagram"
      href="https://www.instagram.com/emmedental_/"
      target="_blank"
    >
      <Instagram class="social-image size-6" />
      <span class="ml-2 hidden lg:inline">emmedental_</span>
    </a>
    <a href="https://wa.me/34633390280" target="_blank">
      <Whatsapp class="social-image size-6" />
      <span class="ml-2 hidden lg:inline">Contáctanos</span>
    </a>
  </div>
</header>

<style>
  .emme-common-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    z-index: 1000;
  }

  .overlay-background {
    transition: all 300ms ease-in-out;
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
  }

  /* Estado inicial (transparente, texto y bordes blancos) */
  .emme-common-header.initial {
    border-block-end: solid 1px rgba(255, 255, 255, 0.8);
  }

  .emme-common-header.initial a {
    color: white;
  }

  .emme-common-header.initial .overlay-background {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .emme-common-header.initial .left-items > a {
    border-inline-end: solid 1px rgba(255, 255, 255, 0.6);
  }

  .emme-common-header.initial .right-items > a {
    border-inline-start: solid 1px rgba(255, 255, 255, 0.6);
  }

  /* Estado al hacer scroll */
  .emme-common-header.scrolled {
    background-color: white;
    border-block-end: solid 1px black;
  }

  .emme-common-header.scrolled a {
    color: black;
  }

  .emme-common-header.scrolled .left-items > a {
    border-inline-end: solid 1px black;
  }

  .emme-common-header.scrolled .right-items > a {
    border-inline-start: solid 1px black;
  }

  .items {
    height: 100%;
  }

  .left-items,
  .center-items,
  .right-items {
    display: flex;
    align-items: center;
  }

  .left-items {
    justify-content: flex-start;
  }

  .center-items {
    flex: 1;
    justify-content: center;
  }

  .right-items {
    justify-content: flex-end;
  }

  .font-secondary {
    font-size: 25px;
  }

  a {
    display: flex;
    align-items: center;
    height: 100%;
    padding-inline: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition:
      color 300ms ease-in-out,
      border-color 300ms ease-in-out;
  }

  .social-image {
    transition: filter 300ms ease-in-out;
  }
</style>

<script>
  window.addEventListener("scroll", () => {
    const header = document.querySelector(".emme-common-header");
    if (window.scrollY > 1) {
      header?.classList.add("scrolled");
      header?.classList.remove("initial");
    } else {
      header?.classList.add("initial");
      header?.classList.remove("scrolled");
    }
  });
</script>
