---
import { Swiper, SwiperWrapper, SwiperSlide } from "astro-swiper";
import type { AstroSwiperType } from "astro-swiper";
import StyledArrowNext from "../../components/icons/arrows/StyledArrowNext.astro";
import StyledArrowPrev from "../../components/icons/arrows/StyledArrowPrev.astro";

const astroSwiperOptions: AstroSwiperType = {
  options: {
    loop: true,
    autoplay: {
      delay: 5000,
      disableOnInteraction: true,
    },
    speed: 1000,
    effect: "fade",
    navigation: {
      nextEl: ".arrow-container-next",
      prevEl: ".arrow-container-prev",
    },
  },
};
---

<section class="emme-landing-hero">
  <Swiper options={astroSwiperOptions.options} class="not-content">
    <SwiperWrapper>
      {
        Array.from({ length: 5 }).map((_, index) => (
          <SwiperSlide>
            <img
              class="hero-image"
              src={`/images/sections/landing/hero-0${index + 1}.jpeg`}
              alt="Odontopediatría en consulta EMME Dental"
              fetchpriority={index === 0 ? "high" : "low"}
            />
          </SwiperSlide>
        ))
      }
    </SwiperWrapper>

    <StyledArrowNext
      class="arrow-container-next hover:text-accent text-white"
    />
    <StyledArrowPrev
      class="arrow-container-prev hover:text-accent text-white"
    />
  </Swiper>
</section>

<style>
  .emme-landing-hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .swiper {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    user-select: none;
  }

  .hero-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  /* === Flechas de navegación === */
  [class^="arrow-container-"] {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    transform: translateY(-50%) translateX(0);
    z-index: 2;
    opacity: 0;
    transition:
      transform 300ms ease-in-out,
      opacity 300ms ease-in-out;
    cursor: pointer;
  }

  .arrow-container-prev {
    left: 0;
    transform: translate(-80px, -50%); /* fuera del viewport horizontalmente */
  }

  .arrow-container-next {
    right: 0;
    transform: translate(80px, -50%); /* fuera del viewport horizontalmente */
  }

  [class^="swiper-arrow-"] {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
  }

  /* Hover en el slider → las flechas entran y aparecen */
  .emme-landing-hero:hover .arrow-container-prev {
    transform: translate(20px, -50%);
    opacity: 1;
  }

  .emme-landing-hero:hover .arrow-container-next {
    transform: translate(-20px, -50%);
    opacity: 1;
  }
</style>
