---
import Hero from "../sections/landing/Hero.astro";
import About from "../views/About.astro";
import AcademicProfile from "../sections/academic/Profile.astro";
---

<div class="home-page">
  <Hero />
  <About />
  <AcademicProfile />
</div>
